
html,
body,
ul {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}

header {
    background-color: #ffffff;
    padding: 20px;
  }
  .logo img {
    max-width: 150px;
    height: auto;
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
  .nav-links li {
    margin-right: 20px;
  }
  .nav-links a {
    text-decoration: none;
    color: #333;
  }


/* Main content */
main.resources-section {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.video-tutorials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.video {
  max-width: 560px;
  width: 100%;
}

.video h2 {
  margin-bottom: 10px;
}

.video iframe {
  width: 100%;
  height: 315px;
}

